<div style="max-width: 600px; margin: 20px auto; background: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
     <p>เรียนคุณ {{name}}</p>
     <p>ตามที่คุณได้แจ้งลืมรหัสผ่าน ระบบได้ทำการรีเซ็ตรหัสผ่านให้ใหม่เรียบร้อยแล้ว โดยมีรายละเอียดดังนี้:</p>        
     <div style="background: #f4f4f4; padding: 10px; border-left: 4px solid #0B111B; margin: 20px 0;">
          <p><strong>Username:</strong> {{username}}</p>
          <p><strong>Password (ชั่วคราว):</strong> {{password}}</p>
     </div>
     
     <p>ลงชื่อเข้าสู่ระบบที่ได้ที่ <a href="https://codespace.srv-demo-2.home.unixvextor.com/">https://codespace.srv-demo-2.home.unixvextor.com</a></p>
     <p>กรุณาเข้าสู่ระบบด้วยรหัสผ่านใหม่นี้ และแนะนำให้เปลี่ยนรหัสผ่านทันที เพื่อความปลอดภัยของบัญชีของคุณ โดยสามารถเปลี่ยนรหัสผ่านได้ที่หน้า <strong>ตั้งค่าบัญชีผู้ใช้งาน</strong>.</p>
     <p>ขอแสดงความนับถือ,<br><strong>CODE SPACE Teams.</strong></p>
</div>

